body {
  background-color: #eaf6f6;
}

hr {
  background-color: transparent;
  border-color: rgb(163, 161, 161);
  border-style: dotted none none none;
  height: none;
  width: 8%;
  border-width: 8px;
}


h3 {
  color: #66bfbf;
}
h1  {
    color: #4ca8a8;
}
